<!--              property binding      local reference-->
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <!--              two way biding -->
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>

<!--                                  event listener -->
  <button mat-raised-button color="accent" (click)="onAddPost()">
    Save Post
  </button>
</mat-card>

<hr />
<!-- string interpolation -->
<!-- <p>{{ newPost }}</p> -->
